<li>
	{{burgers}}

      <div class="devour">
      <p><span class="label">Burger #{{this.id}}</span>. {{this.burger_name}}</p>
      <button type="submit" id="devour-me" data-id="{{id}}" data-devoured="{{devoured}}">Devour dat burger!</button>
 	 </div>

</li>